<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Say it with Sweets">
    <meta name="keywords" content="Bakery">
    <meta name="description" content="MSay it with Sweets website">
    <title>Say it with Sweets</title>
</head>
<body>
    <header>
        <div id="topbar">
            <img class="logo" src="../static/logo.png" alt="Say it with Sweets" width="100px">
            <div id="social">
                <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                    <img class="social" src="../static/instagramicon.png" alt="instagram icon" width="40px">
                </a>
                <a href="https://www.facebook.com/say.it.with.sweets/photos" target="_blank">
                    <img class="social" src="../static/facebookicon.png" alt="facebook icon" width="40px">
                </a>
            </div>
        </div>
        <div id="navbar">
            <nav id="navlist">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <div id ="contact" onmouseover="show_dropdown('contact_dropdown')" onmouseout="hide_dropdown('contact_dropdown')">
                    <button class="contact_button">Contact Us</button>
                    <div id="contact_dropdown" class="contact_dropdown">
                        <a href="locations.html">Locations</a>
                        <a href="contact.html">Hear From Us</a>
                    </div>
                </div>
                <div id="options" onmouseover="show_dropdown('options_dropdown')" onmouseout="hide_dropdown('options_dropdown')">
                    <button class="options_button">Our Options</button>
                    <div id="options_dropdown" class="options_dropdown">
                        <a href="cupcakes.html">Cupcakes</a>
                        <a href="cakes.html">Cakes</a>
                        <a href="cookies.html">Cookies</a>
                        <a href="customcakeorder.html">Custom Orders</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    
    <h1 id="title">Cookie Options</h1>
    <div id="main">
        <div>
            <a href="cookieorder.html?cookie=standard">
                <img class="cookies" src="../static/cookiestandard.png" alt="cookie">
                <h2>Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=baby">
                <img class="cookies" src="../static/cookiebaby.jpg" alt="cookie">
                <h2>Baby Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=babyshower">
                <img class="cookies" src="../static/cookiebabyshower.jpg" alt="cookie">
                <h2>Baby Shower Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=baseball">
                <img class="cookies" src="../static/cookiebaseball.jpg" alt="cookie">
                <h2>Baseball Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=easter">
                <img class="cookies" src="../static/cookieeaster.jpg" alt="cookie">
                <h2>Easter Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=flower">
                <img class="cookies" src="../static/cookieflower.jpg" alt="cookie">
                <h2>Flower Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=mermaid">
                <img class="cookies" src="../static/cookiemermaid.jpg" alt="cookie">
                <h2>Mermaid Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=pennstate">
                <img class="cookies" src="../static/cookiepennstate.jpg" alt="cookie">
                <h2>Penn State Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=space">
                <img class="cookies" src="../static/cookiespace.jpg" alt="cookie">
                <h2>Space Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=superhero">
                <img class="cookies" src="../static/cookiesuperhero.jpg" alt="cookie">
                <h2>Superhero Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=unicorn">
                <img class="cookies" src="../static/cookieunicorn.jpg" alt="cookie">
                <h2>Unicorn Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookieorder.html?cookie=wedding">
                <img class="cookies" src="../static/cookiewedding.jpg" alt="cookie">
                <h2>Wedding Cookies</h2>
            </a>
        </div>
        <div>
            <a href="cookietrayorder.html">
                <img class="cookies" src="../static/cookietray.jpg" alt="cookie">
                <h2>Cookie Tray</h2>
            </a>
        </div>
    </div>
    
    <footer>
        <div id="footerdiv">
            <p>Say It With Sweets | 814-937-1564</p>
            <nav id="bottomlist">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="locations.html">Contact Us</a>
                <a href="contact.html">Join Our Mailing List</a>
            </nav>
        </div>
    </footer>
</body>
</html>