<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Say it with Sweets">
    <meta name="keywords" content="Bakery">
    <meta name="description" content="MSay it with Sweets website">
    <title>Say it with Sweets</title>
</head>
<body>
    <header>
        <div id="topbar">
            <img class="logo" src="../static/logo.png" alt="Say it with Sweets" width="100px">
            <div id="social">
                <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                    <img class="social" src="../static/instagramicon.png" alt="instagram icon" width="40px">
                </a>
                <a href="https://www.facebook.com/say.it.with.sweets/photos" target="_blank">
                    <img class="social" src="../static/facebookicon.png" alt="facebook icon" width="40px">
                </a>
            </div>
        </div>
        <div id="navbar">
            <nav id="navlist">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <div id ="contact" onmouseover="show_dropdown('contact_dropdown')" onmouseout="hide_dropdown('contact_dropdown')">
                    <button class="contact_button">Contact Us</button>
                    <div id="contact_dropdown" class="contact_dropdown">
                        <a href="locations.html">Locations</a>
                        <a href="contact.html">Hear From Us</a>
                    </div>
                </div>
                <div id="options" onmouseover="show_dropdown('options_dropdown')" onmouseout="hide_dropdown('options_dropdown')">
                    <button class="options_button">Our Options</button>
                    <div id="options_dropdown" class="options_dropdown">
                        <a href="cupcakes.html">Cupcakes</a>
                        <a href="cakes.html">Cakes</a>
                        <a href="cookies.html">Cookies</a>
                        <a href="customcakeorder.html">Custom Orders</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div id="orderbody">
        <div id="orderimg">
            <img id="productimg" class="orderimg" src="../static/cupcakecreation_dog.jpg">
        </div>
        <div id="orderinfo">
            <div id="productheader">
                <table>
                    <tr>
                        <th><h1 id="productname">Cupcake Design</h1></th>
                        <th><h1>|</h1></th>
                        <th><h1 id="productcost">$2.00*</h1></th>
                    </tr>
                </table>
            </div>
            <div>
                <p id="productdescription"> Upgrade your cupcake game with a custom cupcake artpiece. Our cupcake creations 
                    are priced according to the number of cupcakes needed for the design. 
                </p>
            </div>
            <form>
                <div id="colorselect">
                    <select class="select" required onchange="showcupcakecreation(this.value)">
                        <option value="">Select design*:</option>
                        <option value="babygirl">Babygirl</option>
                        <option value="baseball">Baseball</option>
                        <option value="bouquet">Bouquet</option>
                        <option value="bulldozer">Bulldozer</option>
                        <option value="butterfly">Butterfly</option>
                        <option value="dinosaur">Dinosaur</option>
                        <option value="dog">Dog</option>
                        <option value="dress">Dress</option>
                        <option value="firstcomuniondress">First Comunion</option>
                        <option value="golf">Golf</option>
                        <option value="happybirthday">Happy Birthday</option>
                        <option value="horse">Horse</option>
                        <option value="hotairballoon">Hot Air Balloon</option>
                        <option value="hungryhungrycaterpillar">Hungry Hungry Caterpillar</option>
                        <option value="monkeytree">Monkey Tree</option>
                        <option value="number1">Number 1</option>
                        <option value="sloth">Sloth</option>
                        <option value="stroller">Stroller</option>
                        <option value="tractor">Tractor</option>
                        <option value="other">Custom</option>
                    </select>
                </div>
                <div id="customcupcakedesign" class="customcupcakedesign">
                    <p>Please provide a detailed description of the design*:</p>
                    <textarea id="customtextarea" rows="5" cols="30" required></textarea>
                </div>
                <div id="batterselect">
                    <select class="select" required>
                        <option value="">Select batter*:</option>
                        <option value="1">Vanilla</option>
                        <option value="2">Chocolate</option>
                        <option value="2">Both</option>
                    </select>
                </div>
            </form>
            <table>
                <tr>
                    <th>
                        <div id="orderbutton">
                            <button onclick="validateitem()"><p>Add to order</p></button>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    
    <footer>
        <div id="footerdiv">
            <p>Say It With Sweets | 814-937-1564</p>
            <nav id="bottomlist">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="locations.html">Contact Us</a>
                <a href="contact.html">Join Our Mailing List</a>
            </nav>
        </div>
    </footer>
</body>
</html>