<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Say it with Sweets">
    <meta name="keywords" content="Bakery">
    <meta name="description" content="MSay it with Sweets website">
    <title>Say it with Sweets</title>
</head>
<body>
    <header>
        <div id="topbar">
            <img class="logo" src="../static/logo.png" alt="Say it with Sweets" width="100px">
            <div id="social">
                <a href="https://www.instagram.com/sayitwithsweets11/" target="_blank">
                    <img class="social" src="../static/instagramicon.png" alt="instagram icon" width="40px">
                </a>
                <a href="https://www.facebook.com/say.it.with.sweets/photos" target="_blank">
                    <img class="social" src="../static/facebookicon.png" alt="facebook icon" width="40px">
                </a>
            </div>
        </div>
        <div id="navbar">
            <nav id="navlist">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <div id ="contact" onmouseover="show_dropdown('contact_dropdown')" onmouseout="hide_dropdown('contact_dropdown')">
                    <button class="contact_button">Contact Us</button>
                    <div id="contact_dropdown" class="contact_dropdown">
                        <a href="locations.html">Locations</a>
                        <a href="contact.html">Hear From Us</a>
                    </div>
                </div>
                <div id="options" onmouseover="show_dropdown('options_dropdown')" onmouseout="hide_dropdown('options_dropdown')">
                    <button class="options_button">Our Options</button>
                    <div id="options_dropdown" class="options_dropdown">
                        <a href="cupcakes.html">Cupcakes</a>
                        <a href="cakes.html">Cakes</a>
                        <a href="cookies.html">Cookies</a>
                        <a href="customcakeorder.html">Custom Orders</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div id="slideshow">
        <div class="slide fade">
            <a href="index.html"><img class="easter" src="../static/cookieeaster.jpg" alt="Easter"></a>
        </div>
        <div class="slide fade">
            <a href="index.html"><img class="babyshower" src="../static/cookiebabyshower.jpg" alt="Baby Shower"></a>
        </div>
        <div class="slide fade">
            <a href="index.html"><img class="pennstate" src="../static/cookiepennstate.jpg" alt="Penn State"></a>
        </div>
        <div id="gradient">
            <div id="slideshowinfo">
                <a id="slideshowlink" href="">
                    <h1 id="slidename">Easter</h1>
                </a>
                <div id="dots">
                    <span class="dot" onclick="currSlide(1)"></span>
                    <span class="dot" onclick="currSlide(2)"></span>
                    <span class="dot" onclick="currSlide(3)"></span>
                </div>
            </div>
        </div>
    </div>
    <h1 id="title">Check Out Our Options</h1>
    <div id="main">
        <div id="cupcakes" class="imgpreview">
            <a href="cupcakes.html">
                <img class="cupcakes" src="../static/cupcakes.jpg" alt="cupcakes">
                <h2>Cupcakes</h2>
            </a>
        </div>
        <div id="cakes">
            <a href="cakes.html" class="imgpreview">
                <img class="cakes" src="../static/cakes.png" alt="cakes">
                <h2>Cakes</h2>
            </a>
        </div>
        <div id="cookies">
            <a href="cookies.html" class="imgpreview">
                <img class="cookies" src="../static/cookiestandard.png" alt="cookies">
                <h2>Cookies</h2>
            </a>
        </div>
        <div id="custom">
            <a href="customcakeorder.html" class="imgpreview">
                <img class="custom" src="../static/cakecat2.jpg" alt="custom orders">
                <h2>Custom Orders</h2>
            </a>
        </div>
    </div>
    
    <footer>
        <div id="footerdiv">
            <p>Say It With Sweets | 814-937-1564</p>
            <nav id="bottomlist">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="locations.html">Contact Us</a>
                <a href="contact.html">Join Our Mailing List</a>
            </nav>
        </div>
    </footer>
</body>
</html>